body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

/* Header */
header {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    padding: 40px;
    background: white;
}

.about img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 30px;
}

/* Projects */
.projects {
    padding: 40px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* Contact */
.contact {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
