*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
header{
    background:#111;
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:cyan;
}

/* Home Section */
.home{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:90vh;
    background:#f4f4f4;
    padding:40px;
}

.home-text h1{
    font-size:40px;
}

.home-text span{
    color:blue;
}

.home-text p{
    margin:15px 0;
}

button{
    padding:10px 25px;
    border:none;
    background:blue;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:darkblue;
}

.home-image img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

/* About */
.about{
    padding:50px;
    text-align:center;
}

/* Projects */
.projects{
    background:#eee;
    padding:50px;
    text-align:center;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.project-card{
    background:white;
    padding:20px;
    width:200px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Contact */
.contact{
    padding:50px;
    text-align:center;
}

/* Footer */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #333;
}
